# <center> Assignment #1
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

# รายชื่อสมาชิก

**นฤวดา สนธิยานนท์ 62090500431**

**อภิชญา  จิไธสง 62090500442**

**เกวรินทร์ เจดีย์สถาน  62090500444**

**โยษิตา พรศิริอนันต์ 62090500448**

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('adult.data.csv')

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [50]:
data [ 'sex' ].value_counts() # ใช้คำสั่ง value_counts() เพื่อแยกนับจำนวนข้อมูลแต่ละประเภทที่อยู่ภายใน column เดียวกัน

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [47]:
data.loc[ data['sex'] == 'Female', 'age'].mean() # ใช้คำสั่ง .loc ในการดึงข้อมูลจากชื่อชอง index และใข้คำสั่ง .mean() ในการหาค่าเฉลี่ย

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [73]:
(data['native-country'] == 'Germany').sum() / len(data) * 100  # ( จำนวนประชากรที่เป็นเยอรมันทั้งหมด / จำนวนประชากรทั้งหมด โดยใช้คำสั่ง len(data) ) * 100 เพื่อตอบเป็น %

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [184]:
data_1 = data.loc[ data['salary'] == '>50K', 'age'].mean()    # ใข้คำสั่ง .mean() ในการหาค่าเฉลี่ย
data_2 = data.loc[ data['salary'] == '<=50K', 'age'].mean()

data_1_std = data.loc[ data['salary'] == '>50K', 'age'].std() # ใช้คำสั่ง .std() เพื่อหาค่าส่วนเบี่ยงเบนมาตรฐาน (sd)
data_2_std = data.loc[ data['salary'] == '<=50K', 'age'].std()

print("The mean and standard deviation of age for those who earn more than 50K per year : %.2f" % (data_1), "and %.2f" % (data_1_std), "\nThe mean and standard deviation of age for those who earn less than 50K per year : %.2f" % (data_2), "and %.2f" % (data_2_std))

The mean and standard deviation of age for those who earn more than 50K per year : 44.25 and 10.52
The mean and standard deviation of age for those who earn less than 50K per year : 36.78 and 14.02

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [123]:
data.loc[ data['salary'] == '>50K', 'education'].value_counts() # ไม่จริง เพราะดูจาก output ที่ได้ยังมีกลุ่มคนบางส่วนที่มีการศึกษาต่ำกว่าระดับ high school

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.**

In [20]:
for (race, sex),data1 in data.groupby(by=['race', 'sex'])['age']: # ใช้คำสั่ง .groupby ในการจัดกลุ่ม race และ sex โดยแสดงผลเป็น age
    print(race,sex)
    print(data1.describe())   # ใช้คำสั่ง .describe() เพื่อแสดงข้อมูลทั้งหมดที่เป็น age
    if(race == 'Amer-Indian-Eskimo'):
        if(sex == 'Male'):
            print('The Maximum age of men of Amer-Indian-Eskimo race :',data1.max())
            
# มีการใช้คำสั่ง forเป็นการวนลูปให้แสดงข้อมูลทั้งหมดและเพิ่มเงื่อนไข if เพื่อให้หา The Maximum age of men of Amer-Indian-Eskimo race ง่ายขึ้น

Amer-Indian-Eskimo Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Amer-Indian-Eskimo Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
The Maximum age of men of Amer-Indian-Eskimo race : 82
Asian-Pac-Islander Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Asian-Pac-Islander Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Black Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Black Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Other Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Other Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
White Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
White Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [155]:
# ผู้ชายที่มีเงินเดือน > 50K และ สถานภาพเป็นโสด
data.loc[ ( data['sex'] == 'Male' ) & ( data['salary']  == '>50K' ) & (data['marital-status'].isin(['Never-married', 'Separated', 'Divorced','Widowed'])), 'salary' ].value_counts() # ใช้คำสั่ง .isin ระบุองค์ประกอบในแต่ละข้อมูลว่ามีอะไรบ้าง

>50K    697
Name: salary, dtype: int64

In [156]:
# ผู้ชายที่มีเงินเดือน > 50K และ สถานภาพสมรสที่ขึ้นต้นด้วยสมรสแล้ว
data.loc[ ( data['sex'] == 'Male' ) & ( data['salary']  == '>50K' ) & (data['marital-status'].str.startswith('Married')), 'salary' ].value_counts() # ใช้คำสั่ง .str.startswith เพื่อหาคำขึ้นต้นของข้อความที่ขึ้นต้นด้วยคำว่า Married

>50K    5965
Name: salary, dtype: int64

In [157]:
# Ans : จาก output ทั้งหมดในข้อ 8 จะเห็นได้ว่าผู้ชายที่มีเงินเดือน > 50K และสถานภาพที่ขึ้นต้นว่าสมรสแล้ว มีจำนวนมากกว่าผู้ชายที่มีเงิน > 50K และสถานภาพโสด

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [19]:
time_max = data['hours-per-week'].max()  # ใช้คำสั่ง .max() เพื่อหาค่าสูงสุดของ hours-per-week column  
print('The maximum number of hours a person works per week :', time_max) 

num_employee = len(data[data['hours-per-week'] == time_max])  
print('The total number of hard-working employee :', num_employee)

work_alot = (data[(data['hours-per-week'] == time_max) & (data['salary'] == '>50K')].shape[0]) / num_employee  # ใช้คำสั่ง shape[0] เพื่อบอกจำนวน row ทั้งหมดของเงื่อนไขนั้นๆ
print('The percentage of those who earn a lot (>50K) : %.2f' % (100 * work_alot) + '%')

The maximum number of hours a person works per week : 99
The total number of hard-working employee : 85
The percentage of those who earn a lot (>50K) : 29.41%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [18]:
for (country, salary), data1 in data.groupby(['native-country', 'salary']): # ใช้คำสั่ง .groupby ในการจัดกลุ่ม native-country และ salary 
    if(country == 'Japan'): # ใช้คำสั่ง if เพื่อกำหนด country ให้เป็น Japan เท่านั้น                                                
        print(country,salary, data1['hours-per-week'].mean())

Japan <=50K 41.0
Japan >50K 47.958333333333336